<h1>{{title}}</h1>
<p>Waiting for facilitator to send assets…</p>

<div id="received"></div>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/student-main.js"></script>
<link rel="stylesheet" href="/css/student.css" />
