// src/scss/_base.scss
@use "./variables" as v;

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: v.$font-stack;
  background-color: v.$body-bg;
  color: v.$text-color;
  margin: 0;
  padding: 0;
}

h2 {
  color: v.$primary-color;
}

a {
  color: v.$primary-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
